<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>レシピ検索B</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
	    <h1>レシピ検索B</h1>
        <!--
        <h3>キーワードを入力してください</h3>
        <form method="POST" action="sample1">
            <input type="text" name="keyword" placeholder="キーワードをここに入力する">
            <input type="submit">
        </form>
        <hr>
        -->
        <div class="form-container">
            <h3>今の気分を選択してください</h3>
            <form method="POST" action="resultB" onsubmit="return validateForm()">
                <div class="slider-container">
                    <div class="slider-item">
                        <span class="slider-text-left">お疲れとは思わない(-5点)</span>
                        <input class="slider" type="range" name="mood" min="-5" max="5" value="0" step="1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">お疲れと思う(5点)</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">がっつりとは思わない(-5点)</span>
                        <input class="slider" type="range" name="body" min="-5" max="5" value="0" step="1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">がっつりと思う(5点)</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">節約とは思わない(-5点)</span>
                        <input class="slider" type="range" name="money" min="-5" max="5" value="0" step="1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">節約と思う(5点)</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">手軽とは思わない(-5点)</span>
                        <input class="slider" type="range" name="time" min="-5" max="5" value="0" step="1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">手軽と思う(5点)</span>
                    </div>
                    <script>
                        function validateForm() {
                            const sliders = document.querySelectorAll('.slider');
                            let allZero = true;
                
                            sliders.forEach(slider => {
                                if (parseInt(slider.value) !== 0) {
                                    allZero = false;
                                }
                            });
                
                            if (allZero) {
                                alert('少なくとも1つの気分を入力してください');
                                return false; // フォームの送信を中止
                            }
                
                            return true; // フォームの送信を許可
                        }
                
                        function updateSliderValue(slider) {
                            const value = slider.value;
                            const valueElement = slider.nextElementSibling;
                            valueElement.textContent = value;
                        }
                
                        const sliders = document.querySelectorAll('.slider');
                        sliders.forEach(slider => {
                            slider.addEventListener('input', () => {
                                updateSliderValue(slider);
                            });
                        });
                    </script>
                </div>
                <div class="button-container">
                    <input class="button" type="submit">
                </div>
            </form>
        </div>
    </body>
</html>